@import "src/Colors";
.main-container{
  height:100%;
  width:100%;
  display:flex;
  .calculator-container{
    height:100%;
    width:75%;
    flex:1;
    .display{
      height:25%;
      background-color: $backgroundColor;
    }
    .keyboard{
      height:75%;
      background-color:#696969 ;
      .row{
        height:calc(100% /6);
      }
    }
  }
  .memory-container{
    height:100%;
    width:25%;
    background-color: $backgroundColor;
  }
}
